/* 게시글 목록 스타일 */
#postList {
    list-style-type: none;
    padding: 0;
}

#postList li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E75926; /* 아이템 간 구분선 */
}

#postList li:first-child {
    padding-top: 15px;
    border-top: 1px solid #E75926;  /* 첫 번째 아이템에 상단 구분선 추가 */
}

#postList li h3 {
    margin: 0 0 10px 0;
    color: #333;
    font-size: 1.2em; /* 제목 크기 */
}

#postList li p {
    margin: 0;
    color: #666;
}

#postList li small {
    display: block;
    margin-top: 10px;
    color: #999;
    font-size: 0.9em; /* 날짜 크기 */
}
